body{
    margin: 0%;
}

.header{
    font-family: sans-serif;
    font-size: 50px;
    text-align: center;
    color: white;
    background-color: navy;
}
.main{
    font-family: sans-serif;
    font-size: 50px;
    text-align: center;
    color: white;
    background-color: royalblue;
}
.extra{
    font-family: sans-serif;
    font-size: 50px;
    text-align: center;
    color: white;
    background-color: aqua;
}
.footer{
    font-family: sans-serif;
    font-size: 50px;
    text-align: center;
    color: white;
    background-color: navy;
}